.phonenumber {
    font-size: 26px;
    font-weight: 700;
    color: #1A1160;
}

.search {
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 14px;
    color: black;
}

.search:focus {
    outline: none;
}

.product {
    position: relative;
}

.product i {
    font-size: 40px;
    color: #1A1160;
}


.count {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color:white;
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 400;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

.centernavspan {
    padding: 1px 8px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.centernavspan:hover {
    background-color: #E7EAED;
    color: black;
}


.priceCoun  span:first-child {
    font-size: 12px;
    background-color: #fff;
    border-radius: 4px;
    padding: 2px 2px;
    color: #1A1160;
    font-weight: 500;
    border-bottom: 1px solid #1A1160;
}

.priceCoun  span:last-child {
    font-weight: bold;
    font-size: 12px;
}